@font-face {
  font-family: "BlackChancery";
  src: url("../fonts/blackchancery/BLKCHCRY.TTF");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #d9d9d9;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.oasis-logo {
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.oasis-logo img {
  height: 100%;
}

.contact-container {
  width: 80%;
  position: relative;
  text-align: center;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

.contact-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-img {
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.contact-img::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 3px;
  height: 70%;
  z-index: -1;
}

.contact-img.yellow::before {
  background: #ecaa32;
}

.contact-img.blue::before {
  background: #6ebde1;
}

.contact-img.red::before {
  background: #e33d25;
}

.contact-img img,
.pot-left img,
.pot-right img,
.back-arrow img {
  width: 100%;
}

.contact-card {
  width: 25%;
  padding: 0.5rem 1rem;
  text-align: center;
}

.contact-card h3 {
  margin: 0.5rem 0;
}

.heading {
  margin: 0 0 1rem;
  font-family: "BlackChancery";
  font-size: 4rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  font-weight: 500;
}

.back-arrow {
  width: 25px;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.pot-left {
  width: 7%;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.pot-right {
    width: 7%;
    position: absolute;
    bottom: -5px;
    right: 0;
  }

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 90%;
    overflow: scroll;
  }

  .contact-card {
    width: 100%;
    padding: 1rem 0;
  }

  .oasis-logo {
    display: none;
  }
}

@media screen and (min-width: 2560px) {
  .contact-img {
    width: 50%;
  }
}
