@font-face {
  font-family: "BlackChancery";
  src: url("../fonts/blackchancery/BLKCHCRY.TTF");
}

* {
  box-sizing: border-box;
}

body {
  /* background-image: url(../assets/longwall.png);
  background-size: cover;
  background-repeat: no-repeat; */
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.background {
  position: absolute;
  z-index: -20;
  bottom: 0;
  left: 0;
  width: 100%;
}

.oasis-logo {
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.oasis-logo img {
  height: 100%;
}

.contact-container {
  width: 80%;
  position: relative;
  text-align: center;
  padding: 0.5rem 2rem 1rem;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  max-height: 90vh;
  top: -3%;
}

.dev-container{
  width: 70%;
}

.contact-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-img {
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.contact-img::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 70%;
  z-index: -1;
  transition: all 0.4s ease;
}

.contact-img.yellow::before {
  background: #ecaa32;
}

.contact-img.blue::before {
  background: #6ebde1;
}

.contact-img.red::before {
  background: #e33d25;
}

.contact-img img{
  height: 100%;
}

.pot-left img,
.pot-right img,
.back-arrow img,
.background img,
.lamp img {
  width: 100%;
}

.contact-card {
  width: 25%;
  padding: 0.5rem 1rem;
  text-align: center;
}

/* .contact-card:hover .contact-img::before {
  height: 30%;
  bottom: 70%;
  transition: all 0.4s ease;
} */

.contact-card h3 {
  margin: 0.5rem 0;
}

.dev-container .contact-card h3{
  margin: 1rem 0;
}

.heading {
  margin: 0;
  font-family: "BlackChancery";
  font-size: 3.5rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  font-weight: 500;
}

.back-arrow {
  width: 25px;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.pot-left {
  width: 7%;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.pot-right {
  width: 7%;
  position: absolute;
  bottom: -5px;
  right: 0;
}

.lamp {
  width: 9%;
  position: absolute;
  top: 25%;
  right: 7px;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

@media screen and (max-width: 768px) {
  body {
    background-image: url(../assets/longwall.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact-container {
    width: 90%;
    overflow-y: scroll;
    max-height: 84vh;
    border-radius: 5px;
    padding: 2rem;
    top: 0;
  }

  .contact-card {
    width: 100%;
    padding: 1rem 0;
  }

  .oasis-logo {
    height: 53vh;
  }

  .oasis-logo img {
    height: 100%;
  }

  .pot-right,
  .pot-left,
  .lamp {
    display: none;
  }

  .heading {
    margin-top: 0rem;
  }

  .background {
    display: none;
  }
}

@media screen and (min-width: 2560px) {
  .contact-img{
    height: 200px;
  }

  .contact-container{
    padding: 2rem 2rem;
  }
}