body{
    margin: 0;
    overflow-y: hidden;
}
body::-webkit-scrollbar { display: none; }

.long-wall{
    position: absolute;
    height: 100vh;
    z-index: -2;
    width: 4500px;
}
.mobile-wall{
    display: none;
}

.scroller{
    height: 100vh;
  /* padding: 8% 4%; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* overflow-x: auto; */
/* background-image: url("/assets/pc/Frame\ 4.png");
background-size: 400% 400%; */
}
.video-banner-mobile{
    display: none;
}
.component-1{
display: flex;
flex-direction: column;
/* justify-content: ; */
align-items: center;

}

.component-1 .iframe-video{
    margin-bottom: 75px;
}

.vertical-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
    margin-left: 70px;

}

.component-2{
    display: flex;
    flex-direction: column;
    justify-content: center;

    }

.lady-star{
    position: absolute !important;
    width: 4px !important;
    height: 4px !important;
    animation: lady 0.5s infinite alternate-reverse;
}
.lady-star:nth-child(1){
    top: 408px;
    left: 1891px;
}
.lady-star:nth-child(2){
    top: 454px;
    left: 1881px;
    animation-delay: 0.3s;
}
.lady-star:nth-child(3){
    top: 480px;
    left: 1870px;
    animation-delay: 0.5s;

}
.lady-star:nth-child(4){
    top: 504px;
    left: 1954px;
    animation-delay: 0.7s;

}
.lady-star:nth-child(5){
    top: 447px;
    left: 1584px;
    animation-delay: 0.1s;

}
.lady-star:nth-child(6){
    top: 447px;
    left: 1633px;
    animation-delay: 0.4s;

}
@keyframes lady {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.2;
    }
}

.iframe-video{
    background-image: url(../assets/pc/videoFrame.svg);
    margin: 50px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 30px;
    width: 352px;
    height: 210px;

}
.video-plate img{
    width: 60%;
}
.video-plate{
    text-align: center;
}
.lamp{
    position: absolute;
    width: 100px;
    margin-bottom: 30px;
    top: 40px;
}
.lady{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}

.lady img{
width: 450px;
height: 400px;
}

.statue{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.statue-img{
    width: 200px;
    margin-bottom: -260px;
}
.podium{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.podium img{
    width: 250px;
}
.video-banner{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
}
.video-banner img{
    object-fit: contain;
    width: 400px;
    height: 490px;
}

.plant-pot{
    bottom: 0;
    z-index: 20;
    position: absolute;
    left: 1400px;
}
.plant-pot img{
    width: 250px;
}
.pot-2{
    left: 2400px;
}
.pot-2 img{
    width: 190px;
}
.pot-1-mobile , .pot-2-mobile , .comp-3-plate-mobile{
    display: none;
}


@media(max-width: 768px){
body{
    overflow-x:hidden ;
    overflow-y: auto;
}
    .long-wall{
        display: none;
    }
    .mobile-wall{
        display: initial;
        position: absolute;
        width: 100vw;
        z-index: -2;
        height: 1460px;
    }

.video-banner-mobile{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
    .video-banner{
        display: none;
    }
    iframe{
        width: 182px;
        height: 105px;
    }
    .iframe-video{
        width: 180px;
        height: 160px;
    margin: 20px 0;
    padding: 50px 30px 0 22px;
   
  }
    .vertical-row{
        margin: 0 20px;
        align-items: flex-start;
    }
   .iframe-video{
        margin-bottom: -5px !important;
    }
.lamp{
    display: none;
}
.scroller{
    flex-direction: column;
}
.lady{
    display: none;
}
.podium{
    display: none;
}
.statue{
    display: none;
}
.video-plate img{
    width: 65%
}
.video-plate{
    width: 160px;
}
.component-2{
    flex-direction: column-reverse;
    align-items: flex-end;

}
.component-2 .video-plate{
 width: 230px;
}
.comp-3{
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
}
.plant-pot{
    display: none;
}
.component-1 .video-plate{
    width: 230px;
}
.comp-3 .video-plate img{
    width: 85%;
    margin-top:-130px
}
.statue-img-mob{
   left: 5%;
    position: absolute;
    display: initial;
    width: 25%;
    top: 62%;
    z-index: -1;
}
.comp-3-plate-pc{
display: none;
}
.comp-3-plate-mobile{
display: initial;
}
.pot-1-mobile{
    display: initial;
    position: absolute;
    width: 26%;
    top: 120px;
    right: 22px;
}

.pot-2-mobile{
    display: initial;
    position: absolute;
    width: 22%;
    top: 1120px;
    left: 10px;
}
}