body{
    margin: 0;
    overflow-y: hidden;
}

.long-wall{
    position: absolute;
    height: 100%;
    z-index: -2;
}

.scroller{
    height: 100vh;
  /* padding: 8% 4%; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* overflow-x: auto; */

}

.component-1{
display: flex;
flex-direction: column;
/* justify-content: ; */
align-items: center;

}

.component-1 .iframe-video{
    margin-bottom: 75px;
}

.vertical-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;

}

.component-2{
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    }



.iframe-video{
    background-image: url("/assets/pc/Oasis-20\ theme\ reveal.png");
    margin: 70px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 30px;
    width: 415px;
    height: 210px;
}
.video-plate img{
    width: 60%;
}
.video-plate{
    text-align: center;
}
.lamp{
    position: absolute;
    width: 100px;
    margin-bottom: 30px;
    top: 40px;
}
.lady{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}

.lady img{
width: 450px;
height: 400px;
}

.statue{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.statue-img{
    width: 200px;
    margin-bottom: -260px;
}
.podium{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.podium img{
    width: 250px;
}
.video-banner{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
}
.video-banner img{
    object-fit: contain;
width: 300px;
height: 350px;
}

.plant-pot{
    bottom: 0;
    z-index: 20;
    position: absolute;
    left: 1400px;
}
.plant-pot img{
    width: 250px;
}
.pot-2{
    left: 2400px;
}
.pot-2 img{
    width: 190px;
}


